body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    border: 1px solid lightgrey;
    height: 400px;
    width: 700px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-weight: 800;
}

.container {
    /* border: 1px solid lightgrey; */
    height: 200px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 20px;
}

#outcome {
    /* border: 2px solid black; */
    margin-bottom: 30px;
    padding-top: 20px;
    width: 200px;
    height: 50px;
    text-align: center;
}

.gameDeclaration {
    border: 2px solid red;
    height: 80px;
    width: 200px;
    text-align: center;
    color: red;
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 20px;
}
